<h1>Employee View</h1>
<p>
  <h2>{{employee.FirstName}} {{employee.LastName}}</h2>


  
   
<ul *ngFor="let timeCard of employee.TimeCards | async">
    <li >
        <label>Date: </label>
        {{timeCard.Date}}
      </li> 
      <li>
          <label>Time In: </label>
          {{timeCard.TimeIn}}
      </li>
      <li>
          <label>Time Out: </label>
          {{timeCard.TimeOut}}
      </li>
      <li>
          <label>Approved: </label>
          {{timeCard.Approved}}
      </li>
</ul>
  
  


